
.btn__style{
    background-color: #c4c4c4;
    padding: 10px 10px;
    width: 45%;
    margin: 10px 0px;
    border: black solid 1px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 500;

}
.btn__style.correct{
    background-color: green;
}
.btn__style.incorrect{
    background-color: red;
}
button:disabled {
    opacity: 0.9;
    background-color: rgb(211, 209, 209);
}